{% extends "template.html" %}

{% block script %}
<script src="{{ url_for('static', filename='js/cadastrar-pedido.js') }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cadastrar-pedido.css')}}">
{% endblock %}


{% block conteudo %}
<style>
b{
    font-weight: 600;
}
</style>

<h1 class="d-flex justify-content-center mt-2 mb-4" style='font-family: "Lato", Arial, sans-serif;'>Faça seu pedido</h1>
<div class="internal-page__wrap">
    <div class="contact-page__wrap">
        <div class="contact-page d-flex justify-content-center">
            <div class="contact-page__main" role="application">
                <div class="contact-page__form-holder contact-page__form-holder--visible"
                    data-contact-dropdown-holder="">
                    <h3 class="contact-page__page-title"></h3>
                    <div role="form" class="wpcf7" id="lista_bebidas" lang="pt-BR" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form method="post" class="cadastrar-pedido">
                            <div class="field">
                                <label for="nome" class="field__label">Nome</label> 
                                <span class="wpcf7-form-control-wrap nome">
                                    <input type="text" name="nome" value="" size="40" td-type="name" id="nome"
                                        aria-required="true" aria-invalid="false" placeholder="Digite o seu nome completo" required>
                                    </span>
                                </div>
                            <div class="field"> <label for="email" class="field__label">E-mail</label>
                                <span class="wpcf7-form-control-wrap email">
                                    <input type="email" name="email" value="" size="40" id="email" aria-required="true"
                                        aria-invalid="false" placeholder="Digite o seu email de contato" required>
                                </span>
                            </div>
                            <div class="row d-flex" style="justify-content: space-around;">
                                {% for drink, price in dict_bebidas.items() %}
                                <div class="col-3 m-3" style="border-radius: 1000px;border: double;border-color: #ffbb287d;">
                                    <div class="field pb-0">
                                        <label for="produto_{{drink}}" class="field__label" style="text-align-last: center;">{{drink}}</label>
                                        <span class="wpcf7-form-control-wrap produto_{{drink}} d-flex justify-content-center">
                                            <img  style="" src="/static/img/{{drink}}.png" alt=""
                                                 height="150" href="/">
                                        </span>
                                    </div>
                                    <div class="field pb-0 d-flex justify-content-between" style="width:100%;align-items: center;">
                                        <div class="col-4 p-0">
                                            <label for="qnt" class="field__label mb-0">Preço Unit.:</label>
                                            <p class="m-1">${{price}}</p>
                                        </div>
                                        <input type="number" size="40" name="{{drink}}"
                                            aria-required="true" aria-invalid="false" placeholder="Qnt" max="1000000">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </form>
                        <div class="fields">
                            <div class="field"> <label class="field__label"></label>
                                <input type="submit" value="Enviar" class="submit" onclick="calcularPedido()">
                                <span class="ajax-loader"></span>
                            </div>
                        </div>
                    </div>
                    <div role="form" class="wpcf7 mt-4 d-none" id="painel_confirmacao" lang="pt-BR" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <div class="row d-flex" id="opcoes_pedido" style="justify-content: space-around;">
                            <!-- pedido 1 -->
                            <div class="col-5 m-3" style="border-radius: 1000px;border: double;border-color: #ffbb287d;">
                                <div class="field p-4 pb-0" id="opcao_1"  style="text-align: center;">
                                    <label class="field__label mb-2" style="text-align-last: center;font-size: larger;">Opção 1</label>
                                    
                                </div>
                                <div class="field pb-0 d-flex justify-content-center" style="width:100%;align-items: center;">
                                        <input type="submit" value="Escolher" class="submit m-2" onclick="escolherPedido1()">
                                </div>
                            </div>
                            <!-- pedido 2 -->
                            <div class="col-5 m-3 d-none" style="border-radius: 1000px;border: double;border-color: #ffbb287d;">
                                <div class="field p-4 pb-0" id="opcao_2" style="text-align: center;">
                                    <label class="field__label mb-2" style="text-align-last: center;font-size: larger;">Opção 2</label>
                                    
                                </div>
                                <div class="field pb-0 d-flex justify-content-center" style="width:100%;align-items: center;">
                                        <input type="submit" value="Escolher" class="submit m-2" onclick="escolherPedido2()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

{% endblock %}
