{% extends "template.html" %}

{% block script %}
<script src="{{ url_for('static', filename='js/cadastrar-pedido.js') }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cadastrar-pedido.css')}}">
{% endblock %}


{% block conteudo %}
<h1 class="d-flex justify-content-center mt-2 mb-4" style='font-family: "Lato", Arial, sans-serif;'>Faça seu pedido</h1>
<div class="internal-page__wrap">
    <div class="contact-page__wrap">
        <div class="contact-page d-flex justify-content-center">
            <div class="contact-page__main" role="application">
                <div class="contact-page__form-holder contact-page__form-holder--visible"
                    data-contact-dropdown-holder="">
                    <h3 class="contact-page__page-title"></h3>
                    <div role="form" class="wpcf7" id="wpcf7-f2218-p371-o1" lang="pt-BR" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form method="post" class="cadastrar-pedido">
                            <div class="field">
                                <label for="nome" class="field__label">Nome</label> 
                                <span class="wpcf7-form-control-wrap nome">
                                    <input type="text" name="nome" value="{{dict.pop("nome")}}" size="40" td-type="name" id="nome"
                                        aria-required="true" aria-invalid="false" placeholder="Digite o seu nome completo" required>
                                </span>
                            </div>
                            <div class="row d-flex" style="justify-content: space-around;">
                                {% for drink, price in dict_bebidas.items() %}
                                <div class="col-3 m-3" style="border-radius: 1000px;border: double;border-color: #ffbb287d;">
                                    <div class="field pb-0">
                                        <label for="produto_{{drink}}" class="field__label" style="text-align-last: center;">{{drink}}</label>
                                        <span class="wpcf7-form-control-wrap produto_{{drink}} d-flex justify-content-center">
                                            <img  style="" src="/static/img/{{drink}}.png" alt=""
                                                 height="150" href="/">
                                        </span>
                                    </div>
                                    <div class="field pb-0 d-flex justify-content-between" style="width:100%;align-items: center;">
                                        <div class="col-4 p-0">
                                            <label for="qnt" class="field__label mb-0">Preço Unit.:</label>
                                            <p class="m-1">${{price}}</p>
                                        </div>
                                        <input type="number" size="40" name="{{drink}}"
                                            aria-required="true" aria-invalid="false" placeholder="Qnt" max="1000000">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </form>
                        <div class="fields">
                            <div class="field"> <label class="field__label"></label>
                                <input type="submit" value="Enviar" class="submit" onclick="calcularPedido()">
                                <span class="ajax-loader"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered text-center" role="document">
    <div class="modal-content" style="background: linear-gradient(to bottom, #ffc72c 0%, #ff992c 100%); border-radius: 100px;">
      <div class="modal-body">
      </div>
      <div class="modal-footer d-flex justify-content-center" style="border-top:0;">
        <div class="age-gate-dialog__buttons-holder">
            <button class="age-gate-dialog__answer-button" data-dismiss="modal">Não</button>
            <button class="age-gate-dialog__answer-button" type="submit" value="1" onclick="confirmarPedido()">Sim</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}